@import "tailwindcss";

@theme {
  /*colors*/
  --color-primary-50: #31DC14;
  --color-primary-100: #47FC28;
  --color-primary-200: #16FF44;
  --color-primary-300: #00C728;
  --color-primary-400: #95FF83;
  --color-primary-500: #0A1F0699;
  --color-primary-600: #35EE5A;


  --color-secondary-100: #14381B;
  --color-secondary-200: #195825;

    /*Max Width*/
  --max-width-screen-7xl: 1200px;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}